%section#info.info
  %article.vision
    %h3 Візія
    %h5= @static_text.vision_title
    %p= @static_text.vision_text.html_safe
  %article.values
    %h3 Цінності
    = @static_text.values_text.html_safe

  %article.tasks
    %h3 Задачі
    = @static_text.tasks_text.html_safe
