%section.map
  .title проекти та події на мапі
  #map-container
  %ul.list
    %li.all.active Всі
    %li.item
      %i>
      Арт
    %li.item
      %i>
      Реконструкція
    %li.item
      %i>
      Створення
    %li.item
      %i>
      Проведені події
    %li.item
      %i
