=render '/partials/header_rating'
=render 'projects'
%section.mission
  =image_tag('photo2.jpg', class: 'paralax')
  .container
    .triangle
    .left
      %h3 Місія:
      %p Генерувати тепло в місті
    .right
      %a.button.red.support-button{href: "#step1"} підтримати
- if @static_text.present?
  = render 'main/info'

= render 'main/map'
= render 'main/news'
