=render '/partials/header_rating'
=render 'projects'
%section.mission
  =image_tag('photo2.jpg', class: 'paralax')
  .container
    .triangle
    .left
      %h3 Місія:
      %p Генерувати тепло в місті
    .right
      %a.button.red.support-button{href: "#step1"} підтримати
- if @static_text.present?
  = render 'main/info'

%section.map
  .title проекти та події на мапі
  #map-container
  %ul.list
    %li.all.active Всі
    %li.item
      %i>
      Арт
    %li.item
      %i>
      Реконструкція
    %li.item
      %i>
      Створення
    %li.item
      %i>
      Проведені події
    %li.item
      %i
%section.news
  %h2
    новини
    %span><
      =@total_news
  -@news.each do |news|
    .news-item{ class: cycle('','','last') }><
      =image_tag(news.image.thumb.url)
      %h4
        =link_to news.title, news
      %p= news.short
      %time= I18n.l news.date

  .button-container
    =link_to 'всі новини', news_index_path, {class:'button red' }
