%header


  =link_to root_path do
    = image_tag 'logo.png', class: 'logo'
  %nav
    = render_navigation
  %ul.languages
    - lang_switcher do |locale, name, link|
      %li
        %a{href: link, class: I18n.locale == locale ? 'active': ''}= name
