%p.right
  %span.st_facebook_large{displaytext: "Facebook"}
  %span.st_twitter_large{displaytext: "Tweet"}
  %span.st_vkontakte_large{displaytext: "Vkontakte"}
  %span.st_googleplus_large{displaytext: "Google +"}
