- content_for :body_class, "news"
- content_for :title, " - #{@news.title}"
%section.news-item
  .date
    %time><
      =@news.date.strftime('%d')
      %span><=I18n.l @news.date, format: '%b'
  %article
    %h5= @news.title
    %figure
      =image_tag(@news.image.url)
    =@news.body.html_safe
    =render '/partials/share'
