!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title= "Тепле Місто #{yield(:title)}"
    %link{:href => "//fonts.googleapis.com/css?family=Open+Sans:400,300,700,800&subset=latin,cyrillic-ext", :rel => "stylesheet"}/
    = stylesheet_link_tag 'application'
    = favicon_link_tag 'favicon.png', rel: 'icon', type: 'image/png'

  %body{ class: yield(:body_class) }
    =render '/partials/menu'

    =yield
    =render '/partials/overlay'
    =render '/partials/footer'
